.container-task {
  padding: 10px 20px;
  width: 100%;
  margin: 8px 0px 8px 0px;
  border: 1px solid black;
  background: #F5FAFC 0% 0% no-repeat padding-box;
  border: 0.800000011920929px solid #CBD6E2;
  border-radius: 4px;
  opacity: 1;
}

.task span{
  font-family: Montserrat, regular;
  letter-spacing: 2;
  color: $gris;
  text-align: left;
  color: #8796A5;
  opacity: 1;
}

