.container_checks{
    padding: 30px !important;
    height: 337px;
    overflow-y: auto;
}

.container_checks::-webkit-scrollbar-thumb {
    background: #245E8E;
    border-radius: 10px;
  }

.check {
    font-family: Montserrat, Regular !important;
    font-size: 13px !important;
    color: $gris !important;
    text-align: left !important;
    letter-spacing: 0px !important;
    color: #4B4B4B !important;
    opacity: 1 !important;
}

.search {
    color: $azulClarito;
}

.search  input{
    border-radius: 25px !important;
}

.checkbox-padding {
    padding-top: 0 !important;
    padding-bottom: 1% !important;
}

.ant-breadcrumb-separator {
    color: white;
}

.contenedor-dropdown {
    display: flex;
    justify-content: flex-end;
    height: 46px;
    align-items: center;
    padding-right: 30px;
}

.ant-checkbox-group-item {
    display: flex;
    margin-right: 0;
}

.CheckboxActividades > .ant-checkbox-wrapper {
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    display: inline-flex;
    width: 50%;
}