.font-family-Montserrat-Thin {
  font-family: "Montserrat-Thin" !important;
}

.font-family-Montserrat-Regular {
  font-family: "Montserrat-Regular" !important;
}

.font-family-Montserrat-Bold {
  font-family: "Montserrat-Bold" !important;
}

.font-family-Montserrat-SemiBold {
  font-family: "Montserrat-SemiBold" !important;
}

.font-family-Montserrat-Medium {
  font-family: "Montserrat-Medium" !important;
}

.font-family-Work-Sans {
  font-family: "Work Sans-Regular" !important;
}

.font-family-Work-Sans-SemiBold {
  font-family: "Work Sans-SemiBold" !important;
}




// ==========
.font-family-Work-Sans-Regular {
  font-family: "Work-Sans-Regular" !important;
}
.font-family-Montserrat-Black {
  font-family: "Montserrat-Black" !important;
}

