.font-color-FFFFFF {
    color: #ffffff !important;
  }
  
  .font-color-632264 {
    color: #632264 !important;
  }
  
  .font-color-AD0808 {
    color: #ad0808 !important;
  }
  
  .font-color-DB2828 {
    color: #db2828 !important;
  }
  
  .font-color-9F0505 {
    color: #9f0505 !important;
  }
  
  .font-color-4B4B4B {
    color: #4b4b4b !important;
  }
  
  .font-color-F28C02 {
    color: #f28c02 !important;
  }
  
  .font-color-B0B0B0 {
    color: #b0b0b0 !important;
  }
  
  .font-color-1B1C1D {
    color: #1b1c1d !important;
  }
  
  .font-color-454545 {
    color: #454545 !important;
  }
  
  .font-color-707070 {
    color: #707070 !important;
  }
  
  .font-color-1FAEEF {
    color: #1faeef !important;
  }
  
  .font-color-FF8900 {
    color: #ff8900 !important;
  }
  
  .font-color-7E7E7E {
    color: #7e7e7e !important;
  }
  
  .font-color-8796A5 {
    color: #8796a5 !important;
  }
  
  .font-color-000000CC {
    color: #000000cc !important;
  }
  
  .font-color-000000 {
    color: #000000 !important;
  }
  
  .font-color-6A6A6A {
    color: #6a6a6a !important;
  }
  
  .font-color-3B73A0 {
    color: #3B73A0 !important;
  }
  
  .font-color-00904C {
    color: #00904C !important;
  }
  
  .font-color-005CC6 {
    color: #005CC6 !important;
  }