@import "./styles/fontfamily.scss";
@import "./styles/fonts.scss";
@import "./styles/fontsize.scss";
@import "./styles/fontcolor.scss";
html {
  --scrollbarBG: #ffff;
  --thumbBG: #245e8e;
}

.drop--listing-colsp::-webkit-scrollbar {
  width: 21px;
}

.form--tblrow::-webkit-scrollbar {
  height: 15px;
}

.overflow--text::-webkit-scrollbar {
  height: 20px;
}

.drop--listing-colsp::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.form--tblrow::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.overflow--text::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

label {
  color: rgb(44, 44, 44 / 87%);
}

.ui.table {
  color: #707070 !important;
}

.border_light {
  border: 0.4px solid #d1d1d1;
}

.Header {
  display: flex;
}

body{background-color: #ffffff;}
.ant-layout {background: #ffffff !important;}
/* Loader */

.preloader {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

.activeBorder {
  border-radius: 4px 4px;
  border: 0.5px solid #e0b4b4;
}

.activeLabel {
  color: #9f3a38;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.mb-0 {
  margin-bottom: 0px !important;
}

.usr--img-input input {
  cursor: pointer;
}

.view-address--model {
  width: 900px !important;
}

.select-val--opt .ui.selection.dropdown {
  min-width: 8em !important;
}

/* .App {
background-color: darkgray;
} */

.curser-pointer {
  cursor: pointer;
}

.mt-1 {
  margin-top: 1rem !important;
}

.text-center {
  text-align: center;
}

.jura--main-page {
  background-color: #dceafe;
  height: 250px;
}

.jura--head-text {
  padding: 4rem 1rem;
}

.jura--head-subtext {
  padding: 1rem !important;
  font-size: 17px !important;
}

.jura--btn-box {
  padding: 2rem;
  text-align: center;
}

.jura---usr-img {
  border-radius: 61px;
  width: 65px;
}

.usr--img-input {
  height: 40px;
}

.usr--img-input input {
  width: 84%;
  padding-left: 8px;
}

.form--icon-img {
  height: 25px;
  margin-top: 9px;
}

.form--dec-input {
  width: 100%;
  padding-left: 8px;
}

.form--dec-input .usr--img-input {
  width: 85%;
}

.form--dec-input .input-ful-w {
  width: 93%;
}

.form--dec-input .usr--img-input .label {
  border: 1px solid #4eb8e7;
  border-radius: 5px;
  font-size: 13px;
  /* padding: 11px; */
  color: #4eb8e7;
}

.jura--form-heading small {
  color: #9f0505;
}

.text-gray {
  color: #767778;
}

.jura--regs-form-btn {
  padding: 8px 29px;
}

.drop-icon {
  float: right !important;
  color: #44aeef;
}

.list--checkbox {
  padding: 5px;
  width: 22px;
}

.list--checkbox label font {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.drop--listing-colsp {
  width: 100%;
  height: 350px;
  overflow: auto;
}

.list--text font font {
  color: #242424;
}

.cat-list-no {
  margin-left: 0px;
  color: rgb(248, 184, 102);
}

.form--radi-btn {
  margin-left: 5px;
}

.link--educat font font {
  padding: 15px;
  color: #4183c4 !important;
}

.main-data-table {
  border-collapse: separate;
  border-spacing: 0;
  border-top: 1px solid grey;
}

td,
th {
  margin: 0;
  border: 1px solid grey;
  white-space: nowrap;
  border-top-width: 0px;
}

.form--tblrow {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  width: 100% !important;
  overflow-x: scroll;
  /* margin-left: 5em; */
  overflow-y: visible;
  padding: 0;
  position: relative;
  overflow: auto;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.headcol {
  position: sticky;
  background-color: white;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 1px;
  margin-top: -1px;
  border-bottom: 0px !important;
}

.headcol2 {
  position: sticky;
  width: 5em;
  right: 0;
  top: auto;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
  background-color: white;
  border-bottom: 0px !important;
}

.headcol:before {
  content: "";
}

td {
  border: 0px solid #8080802e !important;
}

th {
  border: 0px solid #8080802e !important;
}

.col--head,
.col--bdy-text {
  min-width: 256px;
}

.model--containt {
  padding: 0px !important;
}

.delet--conf-edu .dlt--title {
  vertical-align: inherit;
  font-size: 21px;
  color: #a41110;
}

.delet--conf-edu .dlt--mdl-text {
  font-size: 15px;
}

.delet--conf-edu .dlt-text-cont {
  font-size: 13px;
  margin-bottom: 3rem;
}

.csl--dlt {
  font-size: 16px;
  color: #000000db;
}

.model--close-icon {
  color: #a41110;
  font-size: 17px;
  text-align: right;
  cursor: pointer;
}

.delete--model {
  width: 800px !important;
}

.view-education--model {
  width: 600px !important;
}

.model--headr {
  margin: 0px 8px !important;
}

.input--adj {
  width: 91%;
}

.input--adj .label {
  border: 1px solid #44aeef !important;
  border-radius: 4px 4px 4px 4px;
}

.form--buton-box {
  text-align: right;
  float: right;
  margin-right: 5px !important;
  padding-bottom: 1rem !important;
}

.form--buton-box .link-font-text {
  line-height: 34px;
  height: 20px;
}

.view--pdf-file {
  text-align: center;
}

.view--pdf-file img {
  width: 100% !important;
}

.alert--box-success {
  background-color: #e2f6e7 !important;
  color: #3e8223 !important;
}

.alert--box-success h5 {
  margin-bottom: 0px;
}

.alert--box-success p {
  font-size: 14px;
}

.select--val .text {
  color: black !important;
}

.select__box_clm .active {
  font-weight: 600;
}

.tac--text-area {
  height: 300px;
  overflow: auto;
}

.tac--foot-text {
  margin: 1rem;
  float: right !important;
  padding: 20px 11px !important;
}

.history--show-det {
  text-align: center;
  margin-top: 10rem;
}

.history--show-det .text--con {
  margin-top: 14rem;
  padding: 10px 40px;
  border-radius: 28px;
  color: rgb(159, 13, 5);
  border: 2px solid #7f7f7f;
  font-size: 19px;
  font-weight: 600;
}

.main-box {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.menu--drop-link .active.item {
  border-color: #44b4ed !important;
  border-bottom-width: 3px !important;
}

.menu--drop-link .item font {
  font-weight: 700;
}

.register-btn-box {
  max-width: 99%;
  margin-top: -8rem;
}

.jura--rg-detl {
  display: flex !important;
}

.model--div {
  width: 1000px;
}

.input--adj-mdl {
  width: 90%;
}

.display-flex {
  display: flex !important;
}

.col--head {
  cursor: pointer !important;
}

.select__box {
  margin-left: 1px !important;
  margin-bottom: 5px;
  position: absolute;
  background-color: white;
  width: 92%;
  z-index: 9;
  margin: auto;
  margin-top: -17px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.select__box_clm {
  margin: 22px 5px;
  padding: 22px;
}

.select__box_clm {
  margin: 0px 15px;
}

.select__value {
  width: 100%;
  cursor: pointer;
  margin-bottom: 0;
  padding: 5px 2rem;
}

.select__value:hover {
  background-color: #faebd7bd;
}

.select--val font {
  color: #242424 !important;
}

.loder--page {
  margin: auto;
  position: absolute;
  z-index: 999;
  width: 100%;
  margin-top: -18rem;
}

.text-red {
  color: #9f0505;
}

.select--val .text {
  color: black;
}

.form-slct {
  width: 100% !important;
  margin-bottom: 0px;
}

.form-slct_text {
  width: 100%;
  cursor: pointer;
  margin-bottom: 0;
  padding: 5px;
}

.form-slct_text:hover {
  background-color: #faebd7bd;
}

.date_pkr .react-date-picker__clear-button {
  display: none;
}

.date_pkr .react-date-picker__wrapper {
  border: 0px;
}

.date_pkr {
  width: 100%;
}

.date_pkr .react-date-picker__inputGroup__month {
  width: 25px !important;
  text-align: center;
  height: 22px;
}

.date_pkr .react-date-picker__inputGroup__day {
  text-align: center;
  height: 22px;
  width: 25px !important;
  margin-left: 14px !important;
  margin-right: 15px !important;
}

.date_pkr .react-date-picker__inputGroup__divider {
  display: none;
}

.date_pkr .react-date-picker__inputGroup__year {
  height: 22px;
  width: 60px !important;
  text-align: center;
}

.date_pkr .react-date-picker__inputGroup {
  justify-content: space-between;
  display: flex;
}

/* date_pkr_edit */

.date_pkr_edit {
  width: 90%;
}

.date_pkr_edit .react-date-picker__inputGroup__month {
  width: 18px !important;
  text-align: center;
  height: 22px;
}

.date_pkr_edit .react-date-picker__inputGroup__day {
  text-align: center;
  height: 22px;
  width: 18px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.date_pkr_edit .react-date-picker__inputGroup__divider {
  display: none;
}

.date_pkr_edit .react-date-picker__inputGroup__year {
  height: 22px;
  width: 35px !important;
  text-align: center;
}

.date_pkr_edit .react-date-picker__inputGroup {
  justify-content: space-between;
  display: flex;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .column {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .form--dec-input .input-ful-w {
    width: 91%;
  }
}

@media (max-width: 991px) {
  .form--dec-input .usr--img-input {
    width: 77%;
  }
  .form--dec-input .input-ful-w {
    width: 83%;
  }
}

@media (max-width: 767px) {
  .p_0 {
    padding: 0px !important;
  }
  .register-btn-box {
    margin-top: -7rem;
  }
  .form--dec-input .usr--img-input {
    width: 83%;
  }
  .form--dec-input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .eight.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .eleven.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .fifteen.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .five.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .four.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .fourteen.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .nine.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .seven.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .six.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .sixteen.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .ten.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .thirteen.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .three.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .twelve.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .two.wide.field,
  .ui.form:not(.unstackable) .five.fields:not(.unstackable) > .field,
  .ui.form:not(.unstackable) .five.fields:not(.unstackable) > .fields,
  .ui.form:not(.unstackable) .four.fields:not(.unstackable) > .field,
  .ui.form:not(.unstackable) .four.fields:not(.unstackable) > .fields,
  .ui.form:not(.unstackable) .three.fields:not(.unstackable) > .field,
  .ui.form:not(.unstackable) .three.fields:not(.unstackable) > .fields,
  .ui.form:not(.unstackable) .two.fields:not(.unstackable) > .field,
  .ui.form:not(.unstackable) .two.fields:not(.unstackable) > .fields {
    width: 30% !important;
  }
  .ui.grid {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .jura--rg-detl {
    display: block !important;
  }
  .ui.table:not(.unstackable) tbody {
    width: auto !important;
    display: block !important;
  }
  .ui.table:not(.unstackable) tr {
    width: auto !important;
    display: flex !important;
  }
  .headcol {
    position: inherit;
  }
  .headcol2 {
    position: inherit;
  }
  .ui.table:not(.unstackable) tbody {
    width: auto !important;
    display: block !important;
  }
  .ui.table:not(.unstackable) tr {
    width: auto !important;
    display: flex !important;
  }
  .headcol {
    position: inherit;
  }
  .headcol2 {
    position: inherit;
  }
  td,
  th {
    white-space: break-spaces !important;
  }
  .table--head .col--head {
    min-width: 150px;
    max-width: 150px;
  }
  .table--head .headcol {
    min-width: 150px;
    max-width: 150px;
  }
  .col--head,
  .col--bdy-text {
    min-width: 150px;
    max-width: 150px;
  }
  tbody tr .headcol {
    min-width: 150px;
    max-width: 150px;
  }
  .table-pagination {
    border: 0px !important;
  }
  .pagination-box {
    min-width: 100% !important;
    margin: 26px 0px;
  }
  .history--show-det a {
    padding: 9px 25px;
    font-size: 12px;
  }
  .ui.grid > .column:not(.row),
  .ui.grid > .row > .column {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .form--dec-input .input-ful-w {
    width: 75%;
  }
  .view-education--model {
    width: 95% !important;
  }
  .model--div .delete--model {
    width: 95% !important;
  }
  .input--adj {
    width: 67%;
  }
  .fm--btn {
    margin: 19px 7px !important;
  }
}

@media (max-width: 548px) {
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .eight.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .eleven.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .fifteen.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .five.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .four.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .fourteen.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .nine.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .seven.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .six.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .sixteen.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .ten.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .thirteen.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .three.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .twelve.wide.field,
  .ui.form:not(.unstackable) .fields:not(.unstackable) > .two.wide.field,
  .ui.form:not(.unstackable) .five.fields:not(.unstackable) > .field,
  .ui.form:not(.unstackable) .five.fields:not(.unstackable) > .fields,
  .ui.form:not(.unstackable) .four.fields:not(.unstackable) > .field,
  .ui.form:not(.unstackable) .four.fields:not(.unstackable) > .fields,
  .ui.form:not(.unstackable) .three.fields:not(.unstackable) > .field,
  .ui.form:not(.unstackable) .three.fields:not(.unstackable) > .fields,
  .ui.form:not(.unstackable) .two.fields:not(.unstackable) > .field,
  .ui.form:not(.unstackable) .two.fields:not(.unstackable) > .fields {
    width: 29% !important;
  }
  .form--dec-input .usr--img-input {
    width: 67%;
  }
  .form--buton-box {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin-right: 0px !important;
  }
  .form--buton-box .button {
    width: 100%;
  }
  .form--education {
    margin-top: 0.02rem;
  }
  .form--education .button {
    width: 50%;
  }
  .history--show-det a {
    padding: 9px 10px;
    font-size: 12px;
  }
  .form--dec-input .input-ful-w {
    width: 66%;
  }
  .history--show-det .text--con {
    margin-top: 14rem;
    padding: 7px 15px;
    border-radius: 28px;
    color: rgb(159, 13, 5);
    border: 2px solid #7f7f7f;
    font-size: 11px;
    font-weight: 600;
  }
  .input--adj {
    width: 76%;
  }
  .form--dec-input .usr--img-input {
    width: 76%;
  }
  .register-btn-box {
    margin-top: -5rem;
  }
}

/* sidebar */

.js--sidebar .js-side--top {
  background-color: #6da3fc;
  padding: 10px 1rem;
}

.js--sbar-menu {
  background-color: aliceblue;
  /* padding: 10px 2rem !important; */
}

.sidebar-title-text {
  color: #632264 !important;
  font-weight: bold;
}

.font--menu-item .sidebar--menu-link {
  color: #000000 !important;
}

.sidebar--menlink a {
  color: #ffffff !important;
}

.font--menu-item.active {
  background-color: #632264;
  color: #ffffff !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.js--sidebar {
  background-color: aliceblue;
}

.menu--head {
  padding-left: 1rem;
  padding-top: 0.8rem;
}

.menu--head .menu-bars {
  font-size: 22px;
}

.sidbar--top-txt {
  padding-left: 1rem;
  color: white;
}

.form--left-box {
  width: 19% !important;
}

.form--right-box {
  width: 80% !important;
}

.text-right {
  text-align: right !important;
}

.nav-header-menu {
  list-style: none;
  padding: 0;
  text-align: right;
  justify-content: end;
  display: flex;
}

.nav-header-menu .menu--items {
  margin: 8px;
}

.menu--niti-bl-icon {
  font-size: 16px !important;
  color: #ff8900;
}

.second--header {
  background-color: #6da3fc;
  // padding: 2px 1.5rem;
  padding: 0px 1.5rem;
  margin-left: -7px;
}

.second--header .snd-head_menu {
  list-style: none;
  padding: 0;
  /* margin-bottom: 6px; */
  display: flex;
}

.snd-head_menu {
  color: #ffffff;
}

.snd-head_menu .snd--link {
  color: #ffffff;
  font-size: 13px;
}

.third--header {
  background-color: #d3e4fe;
  margin-left: -6px;
}

.third--header {
  height: 45px;
}

.trd-head--menu-box {
  padding: 14px 3px;
}

.trd-head_menu {
  list-style: none;
  padding: 0px;
  display: inline-flex;
  float: right;
}

.trd--link .head_dwn {
  color: #1faeef;
  font-size: 17px;
}

.head-trd-dropdown {
  position: relative;
  display: inline-block;
}

.head-trd-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: -47px;
  margin-top: 11px;
}

/* .head-trd-dropdown:hover .head-trd-dropdown-content {
display: block;
} */

.head-trd-dropdown-content.active {
  display: block;
}

.trd-drop--men {
  list-style: none;
  padding: 0;
}

.trd-drop--men .trd-drop-itm a {
  font-size: 15px;
  color: black;
}

.trd-drop-text {
  padding: 5px;
}

.select__box {
  max-height: 200px;
  overflow: auto;
}

/* viren form-status */

.frm-stus-head {
  background-color: #ae3e97;
  padding: 1rem;
}

.box-container {
  max-width: 1200px;
  margin: auto;
}
.main--formal-box {
  display: block;
  margin-top: 1rem;
}
.stts--lf-form-head {
  width: 100%;
  border-bottom: 3px solid #fb9326;
  margin: 0px 2rem;
}
.stts--lf-form-head .heading--title .title {
  font-weight: 700;
  color: #fb9326;
}

.ml-2 {
  margin-left: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.head---text-containt {
  font-size: 16px;
}
.head---text-containt b {
  font-size: 18px;
}

.list--chk-icon {
  color: #1a921e;
  font-size: 17px;
  margin: 0px 4px;
}
/* .form--confirm-chkbox .ant-checkbox-inner{
  font-size: 20px;
  width: 25px;
  height: 25px;
  border-radius: 15px;
} */

.sts--form-chk-text span {
  font-size: 16px;
  font-weight: 100;
}
.form--btm-btn-box {
  text-align: end;
}
.form--btm-btn-box .btn-submit {
  border-radius: 33px;
}
.pro-menu-containt .pro-menu {
  padding: 6px 0 !important;
}
.pro-menu .pro-list--item {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Work Sans-SemiBold';
}
.pro-menu .pro-list--item:hover {
  color: #f79326;
}
.pro-menu .pro-list--item.active {
  color: #f79326;
}
.pro-menu .pro-list--item {
  display: flex;
  width: 100%;
  justify-content: inherit;
}

.sts_user_profile {
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 71px;
  margin: auto;
}
.pro-menu-containt {
  padding: 15px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  box-shadow: 3px 2px 32px 9px #80808029;
}

.pro-list--item .btn-clr-org-num {
  background: #FF8403;
  padding: 2px 9px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 12px;
  font-family: 'Work-Sans-Regular';
}
.pro-list--item .btn-clr-gray-num {
  background: #909090;
  padding: 2px 9px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 12px;
  font-family: 'Work-Sans-Regular';
}
.pro-menu:hover .btn-clr-gray-num{
  background: #FF8403;
} 
.head_right_containt .heading__text {
  // font-size: 31px;
  // font-weight: 600;
  // font-family: "Lato";
  // color: aliceblue;
  font-size: 24px;
  font-family: Work-Sans-SemiBold;
  color: aliceblue;
  text-shadow: 0px 3px 6px #000000CC;
}
.head_right_containt {
  margin-top: 3rem;
}
.head_right_containt .res--text {
  text-shadow: 0px 3px 6px #000000cc;
  color: #FFFFFF;
  font-size: 14px;
  font-family: Work Sans-Regular;
}

.footer-bar {
  background-color: #3567cc;
  padding: 0.2rem;
}
.footer_menu .footer_logo {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  background-color: aliceblue;
  margin: auto;
}
.footer-item-box {
  display: inline-flex;
}
.footer_menu .footer--text-item {
  font-size: 19px;
  color: aliceblue;
}
.footer_menu .footer_logo_img {
  /* width: 65px; */
  /* height: 65px; */
  /* border-radius: 50px; */
  margin: auto;
}
.footer_link {
  color: aliceblue;
  float: right;
  font-size: 16px;
  line-height: 87px;
}
.footer_menu {
  margin-left: 1px;
  margin-right: 1rem;
}
.header_icon {
  width: 60px !important;
}
.snd-btm-head_menu {
  list-style: none;
  padding: 0px;
  display: inline-flex;
}

.blue--header {
  background-color: #3567cc;
}
.blue--header .logo-box {
  margin: 0px 2rem;
}

/* registration form nir */
.btn_con_re {
  margin: 12px 0px;
}
.radio_label_regi {
  font-size: 14px;
  font-weight: 650;
  line-height: 48px;
}
.heading_regi {
  font-weight: 300;
  font-size: 20px;
}
.txt_regi {
  font-size: 20px;
}
.suc-modal-regi {
  background-color: rgba(0, 177, 106, 0.5);
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  align-items: center;
  justify-content: center;
}
.suc-modal-maincon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.suc-modal-btncon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  border-top: 1px solid rgb(169, 169, 169);
}

.active-showpassbtn:hover {
  color: #1faeef;
}
// 1faeef

/* ad */
.main-card {
  padding: 1rem;
}
.adt--form-table thead th font {
  font-weight: 600;
}
.tbl-form-lable {
  font-size: 15px;
  color: #404040;
  font-weight: 500 !important;
}
.adm-search--table
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #40a9ff;
  border-right-width: 0px !important;
  z-index: 1;
}
.adm-search--table .ant-input-search-button {
  border-left: 0px;
}
.adm-search--table .ant-input-search-button span {
  color: #6da3fb;
}

.adm--table--head {
  border-bottom: 1px solid #909090;
  margin-bottom: 14px;
  padding-bottom: 7px;
}
.table--total {
  line-height: 32px;
}
.text-orance {
  color: orange;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}
.tbl_pg{
  color: #7E7E7E;
  font-family: 'Montserrat-Regular';
  font-size: 9px;
}
.head-table {
  font-size: 17px;
}

.adt--tbl-model--form {
  width: 1000px !important;
}
.card {
  box-shadow: 0px 0px 7px -3px #969696;
  margin-top: 1rem;
}
.text-success {
  color: #00904C;
}

.adt--file-fild .ant-btn-primary {
  background-color: transparent;
  color: #1faeef;
  border: 1px solid #1faeef;
  border-radius: 3px;
}

.adt-form-submit-btn {
  border-radius: 51px;
  background-color: #1faeef;
  border: 1px solid #1faeef;
  margin-bottom: 1rem;
}

.form--selct {
  line-height: 37px;
  height: 37px;
  border-radius: 5px;
}

.adt-table--hight-box {
  height: 300px;
  overflow: auto;
}
.reg-form--btn {
  border-radius: 25px;
  font-size: 14px;
  /* padding-horizontal: 25px, */
}
.hideFild {
  display: none;
}
.showFild {
  display: block;
}

.hide-data {
  display: none !important;
}
.show-data {
  display: block !important;
}
.success-text--data {
  width: 100% !important;
  text-align: center !important;
}
.hide-data {
  display: none !important;
}
.show-data {
  display: block !important;
}
.success-text--data {
  width: 100% !important;
  text-align: center !important;
}
.text-danger {
  color: #ff0808;
}
.adm-table-footer-box .adm-table-foot-cont {
  width: 31%;
  float: right;
  margin-top: 2rem;
}

// / InvitacionJurado /
.inv--form-select {
  width: 100%;
}
.inv--lable-text {
  font-size: 14px;
  font-weight: 500;
}
.inv--form-fild {
  margin-top: 10px;
  margin-bottom: 10px;
}
.invit--succes-model {
  width: 630px !important;
}
.invit--model-containt {
  padding: 12px 33px;
  margin-top: 2rem;
}
.invit--model-containt .title {
  font-size: 21px;
  font-weight: 600;
  color: #2f7e05;
}
.invit--model-containt .text-co {
  font-weight: 600;
}
.form--cont {
  height: 39px;
  border-radius: 6px;
}
.form--cont .ant-select-selector {
  height: 39px !important;
  border-radius: 6px;
  padding: 4px 11px !important;
}
.ant-modal-content {
  overflow: auto;
  border-radius: 15px;
}

.ant-select-arrow {
  color: #1e6ceb !important;
}

/*  */

.form--selct .ant-select-selector {
  height: 36px !important;
  border-radius: 4px !important;
}

.adm-search--table .ant-input-affix-wrapper {
  height: 38px !important;
  border-radius: 0px 4px 0px 4px;
}
.adm-search--table .ant-input-group-addon .ant-btn {
  height: 38px !important;
  border-radius: 0px 4px 4px 0px;
}

/* registration */
.head_rg {
  font-size: 16px;
  border-bottom: 0px;
}

.ma_para-head-box .ma_para-btn-box {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: right;
  padding: 1px 16px;
  color: #1faeef;
}
.ma_para-head-box .ma_para-btn-box span {
  padding: 4px;
}
.ma_para-head-box .ma_para-btn-box .plush_icone {
  font-size: 18px;
}
.model--transparent .ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

.model--transparent .ant-modal-footer {
  border-top: 0px solid #f0f0f0 !important;
  display: none !important;
}
.model--transparent .ant-modal-close {
  display: none;
}
.maf-head {
  padding: 5px;
}
.maf-head .title {
  font-size: 19px;
}
.maf-head .close_btn {
  font-size: 18px;
  padding: 12px;
  color: red;
}

// Maestra Administracion Para
.mastAdt--form-box {
  margin-bottom: 3rem;
  border-radius: 20px;
  padding: 12px 22px;
}

.mstAdt-model-table-area {
  border-radius: 15px;
}
.mstAdt-model-table-box {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 15px;
  padding: 22px;
}
.mstAdt-model-table-head {
  row-gap: 0px;
  padding: 8px 20px;
}
.mastAdt-modl-footer {
  padding: 4px 20px;
}
.mastAdt-modl-footer a {
  padding: 14px;
  color: black;
}
// .maestAdt-modal-regi{
//   background-color: turquoise !important;
//   position: absolute;
//   right: 0px;
//   left: 0px;
//   bottom: 0px;
//   top: 0px;
//   align-items: center;
//   justify-content: center;
//   z-index: 99;

// }

// Evaluacion Proyectos

.stts--headin-drop {
  list-style: none;
  padding: 0px;
  display: inline-flex;
}
.stts--headin-drop .stts--link {
  padding: 0px 1.2rem;
  margin: 0px 0px;
  height: 45 px;
  line-height: 41px;
}
// .stts--link .menu-txt{
//   font-weight: 700;
//   color: #2c2b2b;
// }
.stts--link .menu-txt.active {
  font-weight: 700;
  color: #FF8403;
  font-size: 22px;
  font-family: 'Montserrat-SemiBold';
}
.stts--link.active{
    border-bottom: 4px solid #f6a42c;
    padding-bottom: 6px;
    margin-bottom: -1px;
}
.eval_pro_containt_area .evalpro_containt_head_text p {
  font-size: 18px;
  color: #020102;
  font-family: 'Montserrat-Regular';
}
.evalpro_containt_text .title-text {
  font-size: 18px;
  color: #000000;
  font-family: 'Montserrat-SemiBold';
}
.evalpro_containt_text .evalpro_list_Heading{
  font-size: 16px;
  color: #535353;
  font-family: 'Work Sans-SemiBold';
}
.evalpro_containt_text .containt-text {
  font-size: 16px;
  color: #535353;
  font-family: 'Work-Sans-Regular';
}
.evalpro_containt_head_text {
  padding-bottom: 1rem;
  border-bottom: 2px solid #b0b0b0;
  margin-bottom: 2rem;
}
.title-text {
  color: #454546;
  margin-bottom: 2rem;
}
.evalpro_containt_text .evalpro_listting {
  list-style: auto;
  padding: 1rem;
}
.evalpro--form-file .ant-btn-primary {
  color: #4690ff;
  border-color: #1890ff00;
  background: #1890ff00;
  text-shadow: none;
  box-shadow: none;
}
.evalpro--form-file {
  border-bottom: 2px solid #80808073;
  box-shadow: none !important;
}
.evalpro--form-file span span{
  color: #1FAEEF;
    font-size: 12px;
    font-family: 'Montserrat-SemiBold';
}
.evalpro_cc_sel .ant-select-selector{
  border-radius: 6px !important;
}
.evalpro--form-file .ant-input:focus {
  // border-bottom: 2px solid #80808094;
  box-shadow: none !important;
}
.evalpro--form-file .ant-input {
  background-color: transparent !important;
  border: none;
}
.evalpro_select_cc .ant-select-selector {
  height: 37px !important;
}

.stts--lf-form-head {
  width: 100%;
  border-bottom: 3px solid #b8b8b8;
  margin: 0px 2rem;
}
.stts--headin-drop .stts--link.active {
  border-bottom: 3px solid #f7932c;
  height: 45px;
}
.evelpro_card {
  padding: 11px;
  box-shadow: 0px 9px 30px 1px #8080801c;
  border-radius: 8px;
}

.eval_pro_model {
  background-color: transparent;
}
.eval_pro_model .ant-modal-content {
  background-color: transparent;
  box-shadow: none !important;
  border-radius: 0px !important;
}
.eval_pro_model .ant-modal-body {
  padding: 0px !important;
}

.evalu__top_mdl_box .evalu_inform_header {
  background-color: #ae3e97;
  color: aliceblue;
}
.evalu_inform_header .evalu_inform_menu {
  display: inline-flex;
  list-style: none;
  padding: 9px 23px;
  margin-bottom: 0px;
}
.evalu_inform_header .evalu_inform_menu li {
  padding: 4px 9px;
  font-size: 16px;
  font-weight: 700;
}
.inform--col-box {
  padding: 7px 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid #80808042;
}
.inform--col {
  padding: 5px 10px;
}
.model_info {
  border-radius: 15px;
  background-color: #FFFFFF;
}

.eval_pro_model.ant-modal-header {
  border-radius: 15px 15px 0px 0px !important;
}
.category_list {
  border-radius: 15px;
  padding: 1rem;
}
.category_head .md-title-text {
  font-size: 14px;
  color: #1E1E1E;
  font-family: 'Montserrat-Regular';
}
.cat_listing .ant-list-item {
  border-bottom: 1px solid #8080805e;
  padding: 7px 0;
}
.cat_listing {
  height: 150px;
  overflow: auto;
}
.evalu_listing {
  padding: 1rem;
}
.evalu_head {
  background-color: #ae3e97;
  color: aliceblue;
  color: aliceblue;
  border-radius: 15px 15px 0px 0px;
}

.ant-modal-wrap {
  background-color: #5690af !important;
}

.evalu_info .active {
  border-bottom: 3px solid #ff94e9 !important;
  margin-bottom: -8px;
}
.evalu_info li {
  border-bottom: 1px solid #ae3e97 !important;
}
.evalu_info li a {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: #FFFFFF;
}
.evalu_info .active a {
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #FFFFFF;
}
.evalu_confirm_menu .active {
  border-bottom: 3px solid #ff94e9 !important;
  margin-bottom: -8px;
}
.evalu_confirm_menu li {
  border-bottom: 1px solid #ae3e97 !important;
}
.evalu_confirm_menu li a {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: #FFFFFF;
}
.evalu_confirm_menu .active a {
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #FFFFFF;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.eval_cat_form_text {
  margin-left: 1rem;
  margin-right: 1rem;
}
.eval_cat_form_text p {
  font-size: 16px;
  margin-bottom: 5px;
}

.evalu__form .evl_cat_input {
  height: 38px;
  border-radius: 6px;
}
.evalu__form label {
  color: #6c6c6c;
  font-size: 13px;
  font-weight: 500;
}
.observations_spn {
  text-align: right;
  font-size: 10px;
  padding: 5px;
  color: orange;
}
.main {
  width: 100%;
}
.mdl_close_btn {
  font-size: 18px;
  color: #D02B2B;
}
.eval_pro_model .ant-modal-close {
  display: none;
}








.title_gg font{
  border-bottom: 4px solid #f79326 !important;
  padding-bottom: 2px;
}
.evalpro--form-file button{
  font-size: 13px;
  font-weight: 700;
}
.evalpro_cc_sel .ant-select-selector{
  height: 41px !important;
   border-radius: 6px;
}
.evalpro_listting li p{
  color: #535353;
  font-size: 16px;
  font-family: 'Montserrat-Regular';
}
.eval__frm_text{
  color: #535353;
  font-family: 'Work-Sans-Regular';
  font-size: 16px;
}
.evalpro--btm-text-data{
  color: #545252;
  font-size: 15px;
}
.stts--link .menu-txt{
  color: #909090;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat-Regular';
}
.table_card{
  box-shadow: 5px 1px 23px -5px #8080808a;
  background: #ffffff59;
  padding: 16px;
  border-radius: 13px;
}
// tbody tr{
//   border-top: 1px solid #8080802e !important;
//   border: none !important;
// }
.vas--tab-link{
  font-size: 13px;
  font-weight: 700;
  color: #00AEEF;
}
.document_view_box{
    height: 400px;
    text-align: center;
    overflow: auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 1px 1px grey;
}

.cat_title{
   font-size: 14px;
    padding: 4px;
    color: #5c5c5c;
}
.form__btn_light{
  margin: 14px;
  cursor: pointer;
  padding: 7px 15px;
  border: 2px solid #1FAEEF;
  border-radius: 17px;
  color: #1FAEEF;
}
.form__btn_light:hover{
  border: 2px solid #FF8403;
  background-color: #FF8403;
  color: #ffff;
}

.select_table_cont{
  width: 60px;
  margin-left: 4px;
  padding: 0px;
  height: 34px;
  border-radius: 16px;
  color: #000000;
  font-family: 'Work-Sans-Regular';
  font-size: 12px;
}
.select_table_cont .ant-select-selector{
  width: 59px;
  margin-left: 4px;
  padding: 0px;
  height: 32px !important;
  border-radius: 6px !important;
}
.btm_border{border-bottom: 1px solid #80808063;}
.form_paddin{padding: 5px 38px 3px 9px}
.form_radius{border-radius: 15px !important;}



// Assign evaluation criteria to juries
.asgn_eval_containt_area{
  width: 100%;
}
.asgn_eval__card{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #0000004d;
  border-radius: 10px;
  padding: 1rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.asgevl_card_header{
  padding: 3px;
  margin-bottom: 8px;
  border-bottom: 1px solid #8080806b;
}
.asgevl_card_header .title{
  font-size: 16px;
  font-weight: 600;
}
.asgevl_contain{
  padding: 8px;
}
.asgevl_contain p{
  font-size: 15px;
}

.asgevl_tbl_head{
  border-bottom: 1px solid #80808042;
  padding-bottom: 7px;
}
.as_tbl_hd{
  font-weight: 600;
  color: #454646;
  font-size: 14px;
}
.tbl__head{
  font-size: 16px;
}
.as_tbl_hd{
  display: block;
}

.gray_btn{
  border-radius: 36px;
  background-color: #EAEBEC;
  border: 1px solid #EAEBEC;
  color: white;
  font-size: 12px;
}
.gray_btn:hover{
  border-radius: 36px;
  background-color: #F28C02;
  border: 1px solid #F28C02;
  color: white;
}

.eval-input{
  line-height: 29px;
  border-radius: 6px;
}
.eval--selct .ant-select-selector{
  height: 38px !important;
  border-radius: 6px !important;
}
.eval--textarea{
  border-radius: 6px;
}
.asgevl_head{
  border-bottom: 1px solid #80808038;
}
.textarea_txt_count{
  font-size: 10px;
  color: #F28C02;
  font-family: 'Montserrat-Regular';
}
.form--lable{
  font-size: 14px;
  font-weight: 600;
  color: #383837e8;
}
.evaluar_mdl_box{
  padding-left: 1rem;
  padding-right: 1rem;
}


#error{
  background-color: #fff !important;
  border-color: #ff4d4f !important;
}
.chkImg{margin-left: 5px;}


.table-row-light td{
  background-color: #ffffff !important;
}
// .table-row-dark {
//   background-color: #dfebf5b8 !important;
// }
.table-row-dark td {
  background-color: #e3edf5 !important;
}

// .ant-table-cell-fix-left, .ant-table-cell-fix-right {
//   background: #0a0a0a00 !important;
// }



// design change

.asgevl_card_header .asgevl_title{
  color: #1B1C1D;
  font-size: 14px;
  
}

.asgevl_contain .asgevl_text{
  font-family: Work-Sans-Regular;
  color: #000000;
  font-size: 13px;
}

.asgevl_tbl_head .tbl__head{
  color: #1B1C1D;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
  }

  .asgevl_tbl_right_text{
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    color: #484848;
  }
  
  .as_tbl_hd{
    color: #4B4B4B;
    font-size: 12px;
    font-family: 'Montserrat-SemiBold';
  }

  .ant-table-tbody tr td{
    color: #4B4B4B;
    font-size: 12px;
    font-family: 'Work-Sans-Regular';
  }

  .form_submit_btn{
    font-size: 12px;
    color: #1FAEEF;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #1FAEEF !important;
    border-radius: 50px;
  }
  .form_submit_btn:hover{
    color: #ffffff;
    background-color: #FF8900;
    border: 1px solid #FF8900 !important;
  }
  
  .ast_tbl_txt_sml{
    color: #707070;
    font-size: 9px;
    font-family: 'Montserrat-Regular';
  }
  
.asgevl_mdl_form_head{
  color: #1B1C1D;
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
}
.asgevl_form_lable{
  color: #4B4B4B;
  font-family: 'Montserrat-SemiBold';
  font-size: 12px !important;
}

.eval_tbl_head{
  font-size: 14px;
  color: #1B1C1D;
  font-family: 'Montserrat-Regular';
}

.table--total-mdl{
  color: #4B4B4B;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}

.form_bg_btn{
  background-color: #1FAEEF;
  border: 1px solid #1FAEEF;
  color: aliceblue;
  font-size: 12px !important;
  font-family: 'Montserrat-SemiBold';
  border-radius: 50px !important;
}
.form_bg_btn:hover{
  background-color: #FF8900;
  border: 1px solid #FF8900;
  color: aliceblue;
  font-size: 12px !important;
  font-family: 'Montserrat-SemiBold';
  border-radius: 50px !important;
}
.form_clr_spn_btn{
  padding-right: 16px;
  cursor: pointer;
  font-size: 12px;
  color: #4B4B4B;
  font-family: 'Work-Sans-Regular';
}

.mdl_pd_lf_rg{
  padding-left: 16px;
  padding-right: 16px;
}
.tbl_md_heading_box{
  padding: 3px 2px;
  padding-top: 10px;
}

.tbl_head_title {
  color: #1B1C1D;
  font-size: 14px;
  font-family: 'Montserrat-Regular';
}

// .ant-table-cell-fix-left, .ant-table-cell-fix-right{
//   background-color: #ffff !important;
// }

.view_data_tbl{
  color: #00AEEF;
  font-size: 10px;
  font-family: 'Montserrat-SemiBold';
}
.evel_font_text{
    font-size: 12px;
    color: #4B4B4B;
    font-family: 'Work-Sans-Regular';
}


// 

.evel_mdl_title{
    color: #000000;
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
}
.mdl_heading_row{
  row-gap: 0px;
  padding: 2px 19px;
  padding-top: 11px;
}
.inform--col-box .inform_title{
  color: #1E1E1E;
  font-family: 'Montserrat-SemiBold';
  font-size: 12px;
}
.inform--col-box .inform_value{
  color: #1E1E1E;
  font-family: 'Montserrat-Regular';
  font-size: 12px;
}
.cat_list_title{
  color: #1E1E1E;
    font-family: 'Montserrat-SemiBold';
    font-size: 12px;
}
.cat_list_desc{
  color: #1E1E1E;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
}
.view_detl{
  font-family: 'Work-Sans-SemiBold';
  color: #00AEEF;
  font-size: 12px;
}
.cat_mdl_chk{
  margin-left: 5px;
  color: #000000;
  font-size: 12px;
  font-family: 'Montserrat-Regular';
}

.form_cat_cnc_btn{
  margin: 12px;
  cursor: pointer;
  color: #707070;
  font-family: 'Montserrat-SemiBold';
}
.form_cat_cnc_btn:hover{
  margin: 12px;
  cursor: pointer;
  color: #FF8900;
  font-family: 'Montserrat-SemiBold';
}

.evaluar_btn{
  font-size: 12px;
  color: #00AEEF;
  font-family: 'Work-Sans-SemiBold';
}

.title_evaluar{
  font-size: 14px;
  color: #1B1C1D;
  font-family: 'Montserrat-Regular';
}
.evolv_mdl_box{
  margin-top: -17px;
}

.evol_hed_tb_title{
  font-family: 'Montserrat-Regular';
    color: #1B1C1D;
    font-size: 14px;
}
.evol_top_head_box{padding: 0px 14px;}


.form_btn_text{
  font-family: "Work Sans-SemiBold" !important;

}
// =============
.border-ant-prev-table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 43px;
  border: 1px solid #dededf;
}
.ant-typography ul li, .ant-typography ol li {
padding: 0 0 0 0px!important;
}


.nvbr_cl_name{
  color: #090909;
  font-size: 13px;
  font-family: 'Work-Sans-Regular';
}
.nvbr_cl_name span{
  font-weight: 600;
  color: #090909;
  font-size: 13px;
  font-family: 'Work Sans-SemiBold';
}





// ============== Maestra Convocatorias License

.card_box{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #0000004d;
  border-radius: 10px;
  padding: 1rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.licn_card_header {
  padding: 3px;
  margin-bottom: 8px;
  border-bottom: 1px solid #8080806b;
}
.licn_card_header .licn_title{
font-size: 14px;
color: #1B1C1D;
}
.licn_add_text .add_icone{
  font-size: 16px !important;
  background-color: #1FAEEF;
  border-radius: 12px;
  padding: 4px;
  color: aliceblue;
  font-weight: 700;
}
.licn_add_cat_head{
  padding: 0px 8px;
  margin-bottom: 10px;
}
.licn_add_cat_head .licn_add_text{
  font-size: 12px;
  color: #1FAEEF;
  font-family: 'Montserrat-Regular';
}
.cat_form_head .cat_heding{
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: #000000;
}
.cat_form_head{
  border-bottom: 1px solid #cbc5c55c !important;
  padding-bottom: 7px;
}
.model_footer_btn{
  border-top: 1px solid #8080803b;
  padding-top: 16px;
  margin-top: 15px;
}
.lince_cat_table .ant-table-body{
  box-shadow: 0px 2px 2px 0px #4040408a !important;
    border-radius: 8px !important;
}
.succ_mdl_title{
  font-family: 'Montserrat-SemiBold';
  font-size: 22px;
  color: #2F7E05;
}
.succ_mdl_text{
  font-size: 14px;
  font-family: 'Work-Sans-Regular';
  color: #1B1C1D;
}
.success_message_box .success_msg_area{
  color: #29740B;
  padding: 6px 1.5rem;
  margin: 7px 0px;
  border: 1px solid #29740B;
  background-color: #E1F5E6;
  display: flex;
  justify-content: space-between;
}
.msg_drop_icone{
  font-size: 12px;
  color: #29740B;
}
.cat_bold{
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #000000;
}
.edit_icon{
  color: #5D5D5D;
  margin: 0px 6px;
}

.select_licn{
  font-size: 14px;
  font-family: 'Work-Sans-Regular';
}
.licn_title{
  font-size: 14px;
}
.headin_box{
  padding: 7px;
}
// .icone_size{
//   font-size: 15px;
// }
.select_validation{
  border: 1px solid #9F0505;
}