.crearActvidad{
    color:  $azulClaro !important;
    cursor: pointer;
}

.crearActvidad:hover{
    color: azulGov !important;
}

.modal_crearActividades{
    background-color: rgba(47, 199, 236, 0.5) !important;
}