@font-face {
  font-family: "Montserrat-Thin";
  src: url("../../assets/Fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../../assets/Fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url("../../assets/Fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../assets/Fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("../../assets/Fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../../assets/Fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url("../../assets/Fonts/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../../assets/Fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../../assets/Fonts/Montserrat-Italic.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../../assets/Fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("../../assets/Fonts/Montserrat-LightItalic.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../assets/Fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("../../assets/Fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../assets/Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../assets/Fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url("../../assets/Fonts/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("../../assets/Fonts/Montserrat-ThinItalic.ttf");
}
@font-face {
  font-family: "Work-Sans-Regular";
  src: url("../../assets/Fonts/WorkSans-Regular.ttf");
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-color-FFFFFF {
  color: #ffffff !important;
}

.font-color-632264 {
  color: #632264 !important;
}

.font-color-AD0808 {
  color: #ad0808 !important;
}

.font-color-DB2828 {
  color: #db2828 !important;
}

.font-color-9F0505 {
  color: #9f0505 !important;
}

.font-color-4B4B4B {
  color: #4b4b4b !important;
}

.font-color-F28C02 {
  color: #f28c02 !important;
}

.font-color-B0B0B0 {
  color: #b0b0b0 !important;
}

.font-color-1B1C1D {
  color: #1b1c1d !important;
}

.font-color-454545 {
  color: #454545 !important;
}

.font-color-707070 {
  color: #707070 !important;
}

.font-color-1FAEEF {
  color: #1faeef !important;
}

.font-color-FF8900 {
  color: #ff8900 !important;
}

.font-color-7E7E7E {
  color: #7e7e7e !important;
}

.font-color-8796A5 {
  color: #8796a5 !important;
}

.font-color-000000CC {
  color: #000000cc !important;
}

.font-color-000000 {
  color: #000000 !important;
}

.font-color-6A6A6A {
  color: #6A6A6A !important;
}

.font-size-24px {
  font-size: 18px !important;
}

.font-size-18px {
  font-size: 18px !important;
}

.font-size-14px {
  font-size: 14px !important;
}

.font-size-13px {
  font-size: 13px !important;
}

.font-size-12px {
  font-size: 12px !important;
}

.font-size-10px {
  font-size: 10px !important;
}

.font-size-9px {
  font-size: 9px !important;
}

.font-size-8px {
  font-size: 8px !important;
}

.font-family-Montserrat-Thin {
  font-family: "Montserrat-Thin" !important;
}

.font-family-Montserrat-Regular {
  font-family: "Montserrat-Regular" !important;
}

.font-family-Montserrat-Bold {
  font-family: "Montserrat-Bold" !important;
}

.font-family-Montserrat-SemiBold {
  font-family: "Montserrat-SemiBold" !important;
}

.font-family-Montserrat-Medium {
  font-family: "Montserrat-Medium" !important;
}

.font-family-Work-Sans {
  font-family: "Work-Sans-Regular" !important;
}

.texto-alineado-centro {
  text-align: center;
}

.border-color-707070 {
  border: 0px solid #707070 !important;
  border-radius: 6px;
}

.sin_borde-right:focus {
  border-right: 0px !important;
}

.border-color-AD0808 {
  border: 1px solid #ad0808 !important;
  border-radius: 6px;
}

* {
  font-family: "Montserrat-SemiBold";
}

.background-color-6DA3FC {
  background-color: #6da3fc !important;
}

.background-color-E0E1E2 {
  background-color: #e0e1e2 !important;
}

.background-color-FFFFFF {
  background-color: #ffffff !important;
}

.background-color-1FAEEF {
  background-color: #1faeef !important;
}

.background-color-6DA3FC-opacity-025 {
  background-color: rgba(109, 163, 252, 0.25) !important;
}

.background-color-EAEBEC {
  background-color: #eaebec !important;
}

.background-color-F5FAFC {
  background-color: #f5fafc !important;
}

.border-radius-16 {
  border-radius: 16px !important;
}

.border-radius19 {
  border-radius: 19px !important;
}

input:checked ~ label:after {
  color: #1faeef !important;
  // background-color: #1FAEEF !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.letter-spacing-1px {
  letter-spacing: 1px !important;
}

.border-right-left-none {
  border-right: none !important;
  border-left: none !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-top-none {
  border-top: none !important;
}

.line-height-0 {
  line-height: 0px !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.justify-content-flex-end {
  display: flex !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

.display-flex {
  display: flex !important;
}

.ui.secondary.pointing.menu {
  // border: none !important;
  border-bottom: 1px solid #aaaaaa;
  background-color: #ffffff;
}

.ui.secondary.pointing.menu .active.item {
  font-family: "Montserrat-Bold" !important;
  color: #000000 !important;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 2.4%;
  border-bottom: 3px solid #1faeef;
}

.ui.secondary.pointing.menu .item {
  font-family: "Montserrat-Regular";
  color: #abafb3 !important;
  font-size: 13px;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-color: #1faeef;
}

.ant-btn:empty {
  display: none !important;
}

.border-left-1-gray-input {
  border-left: 1px solid rgba(34, 36, 38, 0.15) !important;
}

.sidebar-padding {
  padding-left: 4%;
}

.breadcrumb-participantes {
  font-family: "Montserrat-Regular";
  font-size: 10px;
  color: #739BBC !important;
}

.breadcrumb-participantes-activo {
  font-family: "Montserrat-SemiBold";
  font-size: 10px;
  color: #004884 !important;
}

.ant-breadcrumb > span,
.ant-breadcrumb-link {
  margin-left: 0 !important;
}

.ui.multiple.dropdown {
  padding: 0.22619048em 0.5em 0.22619048em 0.35714286em;
}

i.icon{
  display: inline-flex !important;
}

.iconos-select-global{
  width: 50%;
  margin-top: 4% !important;
  justify-content: end;
  align-items: center;
}
.iconos-dropdown-global{
  width: 50%;
  margin-top: 1% !important;
  justify-content: end;
  align-items: center;
}

@media (min-width: 1441px) {
  .iconos-select-global{
    margin-top: 2% !important;
  }
}

.container-menu {
  padding: 10px 51px !important;
  // padding-right:   !important;
  // padding-left:   !important;
}

.ui.fluid.dropdown {
  display: flex;
  justify-content: space-between;
}


.card-shadow {
  padding: 30px;
  margin: 20px;
  box-shadow: 0px 3px 10px #00000029 !important;
  border-radius: 10px !important;
  max-width: 100%;

}
