.container-login {
  display: flex;
  width: 100%;
  height: 100vh;
}

.subcontainer-login {
  display: flex;
  width: 50%;
  justify-content: center;
}

.container-form-login {
  width: 38%;
  align-items: center;
}

.sub-header-login {
  padding-top: 4%;
}

.container-inputs-login {
    width: 100%;
}

.usuario-item-login {
    padding-top: 5%;
}

.container-checkbox-login {
    display: flex;
    justify-content: space-between;
}

.login-olvido-contraseña {
    margin: 0 !important;
}

.login-olvido-contraseña:hover {
  cursor: pointer;
}

// .sub-container-checkbox-login {
//   width: 50%;
// }

.container-flex-end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container-space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.boton-ingresar-login {
    border-radius: 2rem !important;
}

// CON GRID

.image-container-login {
  display: flex !important;
  height: 100%;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.container-form-creacion-cuentas {
  max-width: 100%;
  max-height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.form-creacion-cuentas {
  width: 45%;
}