.container_publicar {
    background-color: #F0F6FB !important;
    margin: 10px !important;
}

.input_fechas{
    width: 30% !important;
}

.input_fechas_anio{
    width: 40% !important;
}

.container-fecha{
    display: flex;
}


