.btn{
    border-radius: 20px !important;
}

.btn-primary {
    background-color: $azulClarito !important;
    color: white !important;
}

.btn-primary:hover{
    background-color: $naranja !important;
}

.btn-disable{
    background-color: #E0E1E2 !important;
}