// Colors
$violeta: #AE3E97;
$naranja: #FF8403;
$verde: #00904c;
$azulClaro: #5AC1DD;
$verdeAzul :#004884;
$azulClarito :#00AEEF;
$azulGov :#3366CC;
$azulOscuroGov:#004884;
$grisClaro :#F4F4F4;
$gris :#909090;
$negroTexto :#1E1E1E;
$negro :#000000;



